﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html class="bg-black">

<head>
    <meta charset="UTF-8">
    <title>Upc Genarator</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- bootstrap 3.2.0 Latest compiled and minified CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/typicons.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</head>

    <body class="bg-black">
       
        <div class="form-box" id="login-box">
            <div class="header bg-green">
                <div class="logo">
                    <strong>UPC Genarator</strong>
                </div>
            </div>
            <form method="post">
            
                <div class="body bg-white">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button"><i class="fontello-user-1"></i>
                            </button>
                        </span>
                        <input type="text" placeholder="User" class="form-control" tabindex="1" id="userid">
                    </div>

                    <br>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button"><i class="fontello-lock"></i>
                            </button>
                        </span>
                        <input type="password" name="password" class="form-control" placeholder="Password" tabindex="2"  id="password"/>
                    </div>
                    <br>
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-success" tabindex="3">Sign In</button>
                    </div>
                 
                </div>
             
            </form>

        </div>

    
        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/Scripts/bootstrap.min.js"></script>
        
        
        <script type="text/javascript">
            $(document).ready(function () {
                $("#userid").focus();
            });


        </script>

    </body>
    
   

</html>
