﻿<!DOCTYPE html>

<html class="bg-black">
<head>
    <meta charset="UTF-8">
    <title>Upc Genarator</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- bootstrap 3.2.0 Latest compiled and minified CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
     <link href="~/css/datatables/dataTables.bootstrap.css" rel="stylesheet" />

       <!-- jQuery 2.0.2 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="../Scripts/jquery-1.7.1.min.js"></script>
    <script src="../Scripts/jquery.maskedinput.min.js"></script>
    <!-- Bootstrap -->
    <script src="../Scripts/bootstrap.min.js"></script>
     <script src="../Scripts/jquery.dataTables.js"></script>
    <script src="../Scripts/dataTables.bootstrap.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</head>
<body class="bg-black">
    <div>
        @RenderBody()
    </div>
    
 
</body>
</html>
