﻿@using UpcGenarator.Web.Helpers

        @if (!string.IsNullOrEmpty(CommonHelper.GetSuccessMessage(TempData[CommonHelper.SuccessMessageKey])))
        {
            <div class="SuccessMsg" style="padding-top: 9px;">
                @CommonHelper.GetSuccessMessage(TempData[CommonHelper.SuccessMessageKey])
            </div>
        }
        else if (!string.IsNullOrEmpty(CommonHelper.GetErrorMessage(TempData[CommonHelper.ErrorMessageKey])))
        {
            <div class="ErrorMsg" style="padding-top: 9px;">
                @CommonHelper.GetErrorMessage(TempData[CommonHelper.ErrorMessageKey])
            </div> 
        }