﻿@using UpcGenarator.Web.Helpers;
@model UpcGenarator.Web.Models.UpcGenarateModel
@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    int sno = 1;
}


<!-- /section start -->
<div class="body bg-white">
    <section class="content" style="background: #222A38;">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
            <div class="col-xs-8 col-sm-8 col-md-8" style="">
                <div class="box">
                    <div class="form-box">
                        <div class="header bg-green">
                            <div class="logo">
                                <strong>UPC Generator</strong>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right; margin-right: 20px; margin-top: 10px;">@Html.ActionLink("Create UPC", Actions.Home_UpcAdd, Controllers.Home, new { @class = " btn btn-success btn-group ",id="createid" })</div>
                    <div class="box-body table-responsive" style="overflow-x: auto;">
                        <table id="example11" class="table table-bordered table-striped" style="margin-top: 35px!important;">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Status</th>
                                    <th>Item Number</th>
                                    <th>Single Upc</th>
                                    <th>Master Upc</th>
                                     <th>Master Qty</th>
                                    <th>Inner Upc</th>
                                    <th>Inner Qty</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.UpcList)
                                {
                                    <tr>
                                        <td>@sno</td>
                                        <td>@item.StatusName</td>
                                        <td>@item.ItemNumber</td>
                                        <td>@item.SingleUpc</td>
                                        <td>@item.MasterUpc</td>
                                        <td>@item.Qty </td>
                                        <td>@item.InnerUpc</td>
                                         <td>@item.Innerqty</td>
                                         <td><a href="/Home/UpcAdd?id=@item.Id" title="Click to Edit the UPC" style="text-decoration: underline;">edit</a> </td>

                                    </tr>
                                    sno++;

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
              <div class="col-xs-2 col-sm-2 col-md-2"></div>
        </div>
    </section>
    <!-- /section end -->
</div>

<script type="text/javascript">
    //for table

    $("#example11").dataTable();
    $(document).ready(function () {
        $("#createid").focus();
    });
</script>

