﻿@using System.Web.Configuration
@using UpcGenarator.Web.Helpers
@model UpcGenarator.Web.Models.UpcGenarateModel
@{
     Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

    <div class="form-box" id="login-box" style="width: 660px;">
        <div class="header bg-green">
            <div class="logo">
                <strong>UPC Generator</strong>
            </div>
        </div>

       @using (Html.BeginForm(Actions.Home_UpcAdd, Controllers.Home, FormMethod.Post, new { enctype = "multipart/form-data" }))
       {
           @Html.HiddenFor(m=>m.Id)
           <div class="body bg-white" style="background-color: #fff !important; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;">
               <div class="row">
                   <label class="col-lg-3" style="padding: 10px;">Status<i class="required">*</i></label>
                   <div class="form-group col-lg-9">
                        @Html.DropDownListFor(model => model.StatusId, Model.Statuslist, new { @id = "statusId", @tabindex="1" ,@class="form-control",@onchange = "validatestatus(this)"})
                       <div id="errorstatusId" class="required" style="display: none;">Please select status</div>
                   </div>
               </div>
               <div class="row">
                   <label class="col-lg-3" style="padding: 10px;">Item Number (SKU)<i class="required">*</i></label>
                   <div class="form-group col-lg-9">
                         @Html.TextBoxFor(m => m.ItemNumber, new { @tabindex = "2", id = "Itemnumber",@class="form-control",@autocomplete="off",@maxlength=21,@onchange = "validateItemNum(this)"})
                       <div id="errorItemnumber" class="required" style="display: none;">Item number is required</div>
                       <div id="errorItemnumbermax" class="required" style="display: none;"></div>
                   </div>
               </div>
               <div class="row">
                   <label class="col-lg-3" style="padding: 10px;">Description</label>
                   <div class="form-group col-lg-9">
                        @Html.TextAreaFor(m => m.Description, new { @tabindex = "3", id = "Description",@class="form-control",@style="height: 59px; resize: vertical;",@maxlength=41,@autocomplete="off",@onchange="validateDescriptionlength(this)"})
                       <div id="errorDescriptionmax" class="required" style="display: none;"></div>
                        @*<div id="NewPasswordname" style="display: none; font-size: 13px;"></div>*@
                   </div>
               </div>
               <div class="row">
                   <label class="col-lg-3" style="padding: 10px;">Single UPC<i class="required">*</i></label>
                   <div class="form-group col-lg-9">
                         @Html.TextBoxFor(m => m.SingleUpc, new { @tabindex = "4", id = "singleupc",@class="form-control",@placeholder="X-XXXXX-XXXXX-X",@readonly ="true",@autocomplete="off"})
                   </div>
               </div>
               <div class="row">
                   <label class="col-lg-3" style="padding: 10px;">Master UPC<i class="required">*</i></label>
                   <div class="form-group col-lg-9">
                       @Html.TextBoxFor(m => m.MasterUpc, new { @tabindex = "5", id = "masterupc",@class="form-control numeric",@onchange="myFunction()",@maxlength=2,@autocomplete="off"})
                       <div id="errorMasterupc" class="required" style="display: none;">Master upc is required</div>
                   </div>
               </div>
               <div class="row">
                   <label class="col-lg-3" style="padding: 10px;">Master Qty<i class="required">*</i></label>
                   <div class="form-group col-lg-9">
                       @Html.TextBoxFor(m => m.Qty, new { @tabindex = "6", id = "qty",@class="form-control numeric",@autocomplete="off",@maxlength=50,@onchange = "validateqty(this)"})
                        <div id="errorMasterqty" class="required" style="display: none;">Master qty is required</div>
                   </div>
               </div>

               <div class="row">
                   <label class="col-lg-3" style="padding: 10px;">Inner UPC</label>
                   <div class="form-group col-lg-9">
                       @Html.TextBoxFor(m => m.InnerUpc, new { @tabindex = "7", id = "innerupc",@class="form-control numeric",@onchange="myFunction1()",@maxlength=2,@autocomplete="off"})
                       @*<div id="errorInnerupc" class="required" style="display: none;">Inner upc is required</div>*@
                   </div>
               </div>
                <div class="row">
                   <label class="col-lg-3" style="padding: 10px;">Inner Qty</label>
                   <div class="form-group col-lg-9">
                        @Html.TextBoxFor(m => m.Innerqty, new { @tabindex = "8", id = "innerqty",@class="form-control numeric",@autocomplete="off",@maxlength=50})
                   </div>
               </div>
              
               <div style="text-align: center">
                   <button type="submit" class=" btn btn-success btn-group " id="btnSubmit" onclick="return validation();"tabindex="8">Submit</button> (OR)
                    @Html.ActionLink("Go to Search Page",Actions.Home_Index, Controllers.Home,new{style="text-decoration: underline",@tabindex="9"})
               </div>
                   

           </div>
       }


    </div>

    <script type="text/javascript">
        
        var sum = 0;
        var F = new Array();
        var last = "";
        var sum2 = 0;
        var F2 = new Array();
        var last2 = "";
       
       
        $(document).ready(function () {
            
            var fvalue =   @WebConfigurationManager.AppSettings["Firstvalue"];
            var secondvalue = @WebConfigurationManager.AppSettings["Secondvalue"];
            var final = fvalue.toString() + secondvalue.toString(); 
           
            $("#statusId").focus();
            $.ajax({
                url: "../Home/GetSingleUpcmax",
                data: {},
                type: "Post",
                contentType: "application/json;charset=utf-8",
                success: function (data) { 
                    
                    if (data.length > 0) {

                        var num = data[0].SingleUpc;
                        var snum = num.split('-')[2];
                        var incrementvalue = parseInt(snum) + 1;
                        var sNumber = final + incrementvalue.toString();
                        var finalvalue = compute(sNumber);
                        $("#singleupc").val(finalvalue);
                        $("#singleupc").mask("9-99999-99999-9");
                    } else {
                        var stvalue = final+"15555";
                        var finalval = compute(stvalue);
                        $("#singleupc").val(finalval);
                        $("#singleupc").mask("9-99999-99999-9");
                    }
                   
                }
            });


        });

        // masterrupc genarate
        function myFunction() {

            var masterval = $("#masterupc").val();
            var fvalue =   $("#masterupc").val();
            var secondvalue = @WebConfigurationManager.AppSettings["mastervalue"];
            var final = fvalue.toString() + secondvalue.toString();

            if (masterval.length == 2) {

                $.ajax({
                    url: "../Home/GetSingleUpcmax",
                    data: {},
                    type: "Post",
                    contentType: "application/json;charset=utf-8",
                    success: function(data) {

                        if (data.length > 0) {

                            var num = data[0].SingleUpc;
                            var snum = num.split('-')[2];
                            var incrementvalue = parseInt(snum) + 1;
                            var sNumber = final + incrementvalue.toString();
                            var finalvalue = compute3(sNumber);

                            var test = masterval + "-" + secondvalue + "-" + incrementvalue + "-" + finalvalue;
                            $("#masterupc").val(test);

                        } else {
                            var stvalue1 = final + "15555";
                            var finalvalue1 = compute3(stvalue1);
                            var test1 = masterval + "-" + secondvalue + "-" + 15555 + "-" + finalvalue1;
                            $("#masterupc").val(test1);
                        }

                       

                    }
                });

                $('#errorMasterupc').hide();
            }

        };

        // masterrupc genarate
        function myFunction1() {

            var masterval = $("#innerupc").val();
            var fvalue =   $("#innerupc").val();
            var secondvalue = @WebConfigurationManager.AppSettings["mastervalue"];
            var final = fvalue.toString() + secondvalue.toString();

            if (masterval.length == 2) {

                $.ajax({
                    url: "../Home/GetSingleUpcmax",
                    data: {},
                    type: "Post",
                    contentType: "application/json;charset=utf-8",
                    success: function(data) {

                        if (data.length > 0) {

                            var num = data[0].SingleUpc;
                            var snum = num.split('-')[2];
                            var incrementvalue = parseInt(snum) + 1;
                            var sNumber = final + incrementvalue.toString();
                            var finalvalue = compute3(sNumber);

                            var test = masterval + "-" + secondvalue + "-" + incrementvalue + "-" + finalvalue;
                            $("#innerupc").val(test);

                        } else {
                            var stvalue1 = final + "15555";
                            var finalvalue1 = compute3(stvalue1);
                            var test1 = masterval + "-" + secondvalue + "-" + 15555 + "-" + finalvalue1;
                            $("#innerupc").val(test1);
                        }

                       

                    }
                });

                $('#errorInnerupc').hide();
            }

        };

        //11 digit values calculate
        function compute(num) {

            var vavedeno = num;

            if (vavedeno.length != 11) {
                alert("11 digits are required in order to calculate the check digit");
                return;
            }

            for (var i = 0; i < vavedeno.length; i++) {

                if ((vavedeno.charAt(i) == "0") || (vavedeno.charAt(i) == "1") || (vavedeno.charAt(i) == "2") || (vavedeno.charAt(i) == "3") || (vavedeno.charAt(i) == "4") || (vavedeno.charAt(i) == "5") || (vavedeno.charAt(i) == "6") || (vavedeno.charAt(i) == "7") || (vavedeno.charAt(i) == "8") || (vavedeno.charAt(i) == "9"));
                else {
                    alert("Please use only numbers");
                    form.num.select();
                    return;
                }

                F[i] = parseInt(vavedeno.charAt(i));

            }


            sum = F[0] + F[2] + F[4] + F[6] + F[8] + F[10];
            sum = sum * 3;

            sum = sum + F[1] + F[3] + F[5] + F[7] + F[9];

            if ((sum + 0) % 10 == 0) last = "0";
            if ((sum + 1) % 10 == 0) last = "1";
            if ((sum + 2) % 10 == 0) last = "2";
            if ((sum + 3) % 10 == 0) last = "3";
            if ((sum + 4) % 10 == 0) last = "4";
            if ((sum + 5) % 10 == 0) last = "5";
            if ((sum + 6) % 10 == 0) last = "6";
            if ((sum + 7) % 10 == 0) last = "7";
            if ((sum + 8) % 10 == 0) last = "8";
            if ((sum + 9) % 10 == 0) last = "9";


            return vavedeno + last;

        }

        // 12 digit values calculate 
        function compute3(num) {

            var vavedeno2 = num;

            if (vavedeno2.length != 12) {
                alert("12 digits are required in order to calculate the check digit");
                form3.num4.select();
                return;
            }

            for (var i = 0; i < vavedeno2.length; i++) {

                if ((vavedeno2.charAt(i) == "0") || (vavedeno2.charAt(i) == "1") || (vavedeno2.charAt(i) == "2") || (vavedeno2.charAt(i) == "3") || (vavedeno2.charAt(i) == "4") || (vavedeno2.charAt(i) == "5") || (vavedeno2.charAt(i) == "6") || (vavedeno2.charAt(i) == "7") || (vavedeno2.charAt(i) == "8") || (vavedeno2.charAt(i) == "9"));
                else {
                    alert("Please use only numbers");
                    form3.num4.select();
                    return;
                }

                F2[i] = parseInt(vavedeno2.charAt(i));

            }


            sum2 = F2[1] + F2[3] + F2[5] + F2[7] + F2[9] + F2[11];
            sum2 = sum2 * 3;

            sum2 = sum2 + F2[0] + F2[2] + F2[4] + F2[6] + F2[8] + F2[10];

            if ((sum2 + 0) % 10 == 0) last2 = "0";
            if ((sum2 + 1) % 10 == 0) last2 = "1";
            if ((sum2 + 2) % 10 == 0) last2 = "2";
            if ((sum2 + 3) % 10 == 0) last2 = "3";
            if ((sum2 + 4) % 10 == 0) last2 = "4";
            if ((sum2 + 5) % 10 == 0) last2 = "5";
            if ((sum2 + 6) % 10 == 0) last2 = "6";
            if ((sum2 + 7) % 10 == 0) last2 = "7";
            if ((sum2 + 8) % 10 == 0) last2 = "8";
            if ((sum2 + 9) % 10 == 0) last2 = "9";

            return last2;

        }



        // 13 digit values calculate 
        function compute3(num)
        {    

            var vavedeno2 = num;
        

            if (vavedeno2.length != 13) { alert("13 digits are required in order to calculate the check digit");form4.num2.select();return; }

            for ( var i = 0; i < vavedeno2.length; i++ ) {

                if((vavedeno2.charAt( i ) == "0") || (vavedeno2.charAt( i ) == "1") || (vavedeno2.charAt( i ) == "2") || (vavedeno2.charAt( i ) == "3") || (vavedeno2.charAt( i ) == "4") || (vavedeno2.charAt( i ) == "5") || (vavedeno2.charAt( i ) == "6") || (vavedeno2.charAt( i ) == "7") || (vavedeno2.charAt( i ) == "8") || (vavedeno2.charAt( i ) == "9")) ;
                else { alert("Please use only numbers");form2.num2.select();return; }

                F2[i] = parseInt(vavedeno2.charAt( i ));

            }


            sum2 = F2[0] + F2[2] + F2[4] + F2[6] + F2[8] + F2[10] + F2[12] ;
            sum2 = sum2 * 3;

            sum2 = sum2 + F2[1] + F2[3] + F2[5] + F2[7] + F2[9] + F2[11];
        
            if ((sum2 + 0)%10 == 0) last2 = "0";
            if ((sum2 + 1)%10 == 0) last2 = "1";
            if ((sum2 + 2)%10 == 0) last2 = "2";
            if ((sum2 + 3)%10 == 0) last2 = "3";
            if ((sum2 + 4)%10 == 0) last2 = "4";
            if ((sum2 + 5)%10 == 0) last2 = "5";
            if ((sum2 + 6)%10 == 0) last2 = "6";
            if ((sum2 + 7)%10 == 0) last2 = "7";
            if ((sum2 + 8)%10 == 0) last2 = "8";
            if ((sum2 + 9)%10 == 0) last2 = "9";

            return last2;
		
        }

        //validation for submit
        function validation() {

            var isValidated = true;
            
            if ($('#statusId option:selected').text() == "Select Status") {
                $('#errorstatusId').show();
                isValidated = false;

            }  if ($('#Itemnumber').val() == '') {
                $("#errorItemnumber").show();
                isValidated = false;
            }
            if ($('#masterupc').val() == '') {
                $("#errorMasterupc").show();
                isValidated = false;
            }
            if ($('#masterupc').val().length < 2) {
                $("#errorMasterupc").show();
                isValidated = false;
            }  
            if ($('#qty').val() == '') {
                $("#errorMasterqty").show();
                isValidated = false;
            }
            

            //if ($('#innerupc').val().length < 2) {
            //    $("#errorInnerupc").show();
            //    isValidated = false;
            //} 

            if ($("#Description").val() != "") {
                if ($("#Description").val().length > 40) {
                    document.getElementById('errorDescriptionmax').style.display = 'inline';
                    document.getElementById('errorDescriptionmax').innerHTML = "Description can only be 40 characters";
                    $("#Description").focus();
                    isValidated = false;
                } else {

                    document.getElementById('errorDescriptionmax').style.display = 'none';
                }
            }
            if ($("#Itemnumber").val() != "") {
                if ($("#Itemnumber").val().length > 20) {
                    document.getElementById('errorItemnumbermax').style.display = 'inline';
                    document.getElementById('errorItemnumbermax').innerHTML = "Item number can only be 20 characters";
                    $("#Itemnumber").focus();
                    isValidated = false;
                } else {
                    document.getElementById('errorItemnumbermax').style.display = 'none';
                }
            }

            
            return isValidated;
        };

        //To hide the validation message of status
        function validatestatus(obj) {        
            $('#errorstatusId').hide();
        };

        //To hide the validation message of item number
        function validateItemNum(obj) {        
            $('#errorItemnumber').hide();
            $('#errorItemnumbermax').hide();
        };

        //To hide the validation message of master qty
        function validateqty(obj) {        
            $('#errorMasterqty').hide();
            
        };

        

       
        // only numeric allowed
        $(function() {
            $('.numeric').keydown(function(e) {
                if (e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;
                    if (((key >= 48 && key <= 57) || (key >= 96 && key <= 105) || (key == 36) || (key == 8) || (key == 9) || (key == 46) || (key == 189) || (key >= 37 && key <= 40))) {
                    } else {
                        e.preventDefault();
                    }
                }
            });
        });


        //To hide the validation message of Description
        function validateDescriptionlength(obj) { 
                $('#errorDescriptionmax').hide();
        };
   
    </script>
